/* Imports for stylings */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

/* html & body */
*{
    margin: 0;
    padding: 0;
}
body {
    background: url(rim.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background:rgba(26, 26, 29, 0.45); */
   line-height: 1.5;
   height: 100vh;
   font-family: Anonymous Pro, Arial, Helvetica, sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
}

#overlay{
    background: 
    /*  transparent gradient */ 
    linear-gradient(
      rgba(26, 26, 29, 0.45), 
      rgba(26, 26, 29, 0.45));
      height: 100%;
      width: 100vw;
}



.body-header {
font-family: Black ops One, sans-serif;

}

/* navigation styling */
nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
   display: flex;
}
.navbar {
    background: rgba(26, 26, 29, 0.80);
    padding: 1rem 2rem .3rem;
	box-shadow: 0 5px 6px -6px rgb(188, 188, 188);
    height: 3%;
}
a{
    text-decoration: none;
    color:  #950740;
    font-weight: 500;
}
.nav-link {
    color:  #950740;
}
a:hover{
    color: orange;
}
.navbar-toggler {
    background: #950740;
    border: none;
    padding: 10px 6px;
}
.navbar-toggler span {
    display: block;width: 22px;
    height: 2px;
    border: 1px;
    background: white;
}
.navbar-toggler span + span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span {
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: .8rem 1rem;
    font-size: 1rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid #950740;
}
.navbar-expand-lg .navbar-nav .nav-link:active {
    border-top: 4px solid #950740;
    color:  #950740;
}

/* body header */
.body-header {
    text-align: center;
    margin-top: 5%;
}
.title-header {
    color: #950740;
}


/* header buttons  --- landing.html*/
.header-btn {
display:inline-block;
color: #4E4E50;
padding: 0.9em 5em;
margin: 10% 0.8em 0.1em 0;
border: .10em solid #6F2232;
border-radius: 2em;
background: white;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.255);
font-family: Anonymous Pro, sans-serif;
font-size: 1.1em;
letter-spacing: 1.2px;
font-weight: bold;
}
.header-btn:hover{
    background: #6F2232;
    color: white;
    }



#game-body{
/* flex-direction: column; */
border: 3px solid green;
text-align: center;
width: 100%;
height: 60%;
}
.container-game {
display: grid;
grid-template-columns: 1fr 1fr;

}
.item1{
    grid-column: 1;
    justify-self: end;
    align-self: end;
}
.item2{
    justify-self: start;
    align-self: end;
}
.item3{
    grid-column: 1;
    justify-self: end;
    align-self: start;
}


.player-level h2 {
    text-align: center;
    margin-top: 3%;
}


.key {
text-align: center;
font-size: 1rem;
margin: 10px;
background-color: #e76f51;
border-radius:50%;
width:100px;
height:100px;
overflow: hidden;
border: 3px solid #333;
}





            
        
    



/* key button end make more efficient  ^^^^*/
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    display: block;
    font-size: 15px;
    text-align: center;
}


/* footer */
.web-footer {
    text-align: center;
    position:relative;
    bottom:0;
    width:100vw;
    height:15%;   /* Height of the footer */
    background:#1A1A1D;
}

.web-footer h3 {
    font-size: 1.3em;
    padding-top: 15px;
    color: #950740;
}

.list-unstyled {
    justify-content: center;
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
}
.footer-social li  {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    margin: 0 5px 5px 0;
}
.footer-social span {
    color: #6F2232;
}


