/* Imports for stylings */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

/* html & body */
:root{
    margin: 0;
    padding: 0;
}
body {
background: url(/images/ace2.jpg) no-repeat center center fixed;
 background-size: cover;
line-height: 1.5;
height: 100vh;
font-family: Anonymous Pro, Arial, Helvetica, sans-serif;
}

#overlay{
  background: 
  /*  transparent gradient */ 
  linear-gradient(
    rgba(26, 26, 29, 0.45), 
    rgba(26, 26, 29, 0.45));
    height: 100%;
    width: 100vw;
}

.container{
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows:   1fr 1fr 1fr ;
  grid-template-areas: 
  /* "nav nav nav nav" */
  "content1 content1 content1 content1"
  "sidebar main main main"
  "footer footer footer footer";
  gap: 0.5rem;
}

/* nav styling */
nav{
  background: rgba(26, 26, 29, 0.80);
  padding: 1rem 2rem .3rem;
	box-shadow: 0 5px 6px -6px rgb(188, 188, 188);
  grid-area: nav;
}
.navbar-brand {
  color: #950740;
}

a {
  text-decoration: none;
  color:  #950740;
  font-weight: 500;
}
.nav-link {
  color:  #950740;
}
a:hover{
  color: orange;
}
.navbar-toggler {
  background: #950740;
  border: none;
  padding: 10px 6px;
}
.navbar-toggler span {
  display: block;width: 22px;
  height: 2px;
  border: 1px;
  background: white;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color:#950740;
  padding: .8rem 1rem;
  font-size: 1rem;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #950740;
}
.navbar-expand-lg .navbar-nav .nav-link:active {
  border-top: 4px solid #950740;
  color:  #950740;
}


/* main styling > game keys */
main{
  background: rgb(0, 0, 0,0.7);
  grid-area: main;
  height: 75vh;
}


#bulls{
  position: absolute;
  width:100px;
  height:100px;
  border-radius:8%;
  background-color: #333;
  top: 65%;
  left: 45%;
  margin: -100px -0px 0px -150px;
  border-style: solid;
  border: 5px solid #950740;
  box-sizing: border-box;
}



#lakers {
  position: absolute;
  width:100px;
  height:100px;
  border-radius:8%;
  background-color: #333;
  border: 5px solid #950740;
  top: 60%;
  left: 55%;
  margin: 100px 0px 0px 0px;
  border: 5px solid #950740;
  border-width: 5px;
  transition: all 0.07s;
}

#wizards {
  position: absolute;
  width:100px;
  height:100px;
  border-radius:8%;
  background-color: #333;
  border: 5px solid #950740;
  top: 75%;
  left: 49%;
  margin: 0px -200px 0px -200px;
  border-style: solid;
  border-width: 5px;
  transition: all 0.07s;
}

#warriors {
  position: absolute;
  width:100px;
  height:100px;
  border-radius:8%;
  background-color: #333;
  border: 5px solid #950740;
  top: 49%;
  left: 55%;
  margin: 0px 0px -100px 0px;
  border-style: solid;
  border-width: 5px;
  transition: all 0.07s;
}


#player-rounds {
  position: absolute;
  background:transparent;
  border-radius:8%;
  height: 150px;
  width: 150px;
  border: solid  1px white;
  border-width: 10px;
  top: 58%;
  left: 56%;
  margin: 0px 0px 0px -185px;
  transition: all 0.07s;
}
.wrapper{
  display: flex;
  justify-content: center;
}


#switches {
  position: initial;
  text-align: center;
  font-family: 'Original Surfer';
}

#switches button {
  border-radius: 20%;
  font-size: 1em;
  background-color: lightgray;
}


/* sidebar styling */
#sidebar{
  display: inline-grid;
    background:rgb(0, 0, 0,0.7);
    text-align: center;
    color: white;
    grid-area: sidebar;
}

/* content styling */
#content1{
  color: #950740;
  font-family: Black ops One, sans-serif;
  text-align: center;
  margin-top: 2rem;
 grid-area: content1;
}




/* footer styling */
footer{
  grid-area: footer;
}
.web-footer {
  text-align: center;
  /* position:relative; */
  bottom:0;
  width:100vw;
  height:15%;   /* Height of the footer */
  background:#1A1A1D;
}

.web-footer h3 {
  font-size: 1.3em;
  padding-top: 15px;
  color: #950740;
}

.list-unstyled {
  justify-content: center;
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
}
.footer-social li  {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  margin: 0 5px 5px 0;
}
.footer-social span {
  color: #6F2232;
}
